


.header-decision-review .header-heading {
    color: navy;
    font-size: 1.5rem;
    text-transform: uppercase;
}


.decision-subheading-container {
    margin-top: 1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: start;

}

.decision-subheading-paragraph {
    border-bottom: 1px solid blue;
    padding: 0.5rem 0rem;

}


.instruction-paragraph-container{
    margin-top: 0.5rem;
    display: flex;
    justify-content: start;

}

.instruction-paragraph{
    background-color: skyblue;
   border-radius: 10px;
   padding: 0px 5px;
}

.info-table-container{
    margin-top: 2rem;
}
.add-border-bottom{
    border-bottom: 1px solid black;
}

.info-table-header{
    /* margin: 0.5rem 0rem; */
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.7rem 0rem;
}

.info-table-name{
    width: 50%;
}

.container-type-action-omission{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.container-type-action{
    width: 50%;
    display: flex;
    gap: 0.5rem;
    grid-template-columns: repeat(1fr);
   
 
}

.container-type-action .info-table-type{
    display: flex;
    align-items: center;
    padding-left: 3px;
    width: 45%;
    text-transform: capitalize;
    
    
}
.container-type-action .info-table-action{
    display: flex;
    align-items: center;
    padding-left: 3px;
    width: 45%;
  
  
}

.info-table-omission{
  
    width: 20%;
    text-align: center;
    display: grid;
    place-content: center;
}


.info-order-btn{
    background-color: skyblue;
    border: 1px solid navy;
    padding: 8px 14px;
    font-weight: bold;
    border-radius: 4px;
}

.info-icon{
    font-size: 2rem;
    color: orange;
}



.decision-reviewed-table-header{
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0rem;
}
.decision-reviewed-table-header span{
    width: 20%;
}
.decision-reviewed-table-header span:last-child{
    text-align: center;
    display: flex;
    justify-content: flex-end;

}

.remove-reviewed-decision{
    background-color: #f7d3d3;
    border: 1px solid #f26e6e;
    padding: 8px 14px;
    font-weight: bold;
    color: #f26e6e;
    border-radius: 4px;
}

.reviewed-decision-icon{
    font-size: 2rem;
    padding-right: 1rem;
}



/* breakpoints */

@media screen and (max-width:480px) {
    .decisions-margin{
        margin-bottom: 3rem;
    }
        .instruction-paragraph-container {
        margin-top: 0.5rem;
        display: flex;
        justify-content: start;
        font-size: 0.7rem;

        }

        .info-table-container {
        margin-top: 2rem;

        }

        .just-for-info-table-header{
            font-weight: 600;
        }
        .info-table-header {
        /* margin: 0.5rem 0rem; */
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.7rem 0rem;
        font-size: 0.75rem;
        }
        .decision-reviewed-table-header {
        display: flex;
        justify-content: space-between;
        padding: 0.7rem 0rem;
        }
        .just-for-decision-reviewed-table-header{
        font-weight: 600;
        }       
        .just-for-list{
        font-size: 0.8rem;
        }

        .remove-reviewed-decision {
            background-color: #f7d3d3;
            border: 1px solid #f26e6e;
            padding: 6px 10px;
            font-weight: bold;
            color: #f26e6e;
            border-radius: 4px;
        }

        .reviewed-decision-icon {
        font-size: 1.8rem;
        padding-right: 1rem;
        }

        .info-order-btn {
        background-color: skyblue;
        border: 1px solid navy;
        padding: 6px 10px;
        font-weight: bold;
        border-radius: 4px;
        }
        .info-icon {
        font-size: 1.8rem;
        color: orange;
        }

}


@media screen and (max-width:400px) {
        .instruction-paragraph-container {
        margin-top: 0.5rem;
        display: flex;
        justify-content: start;
        font-size: 0.6rem;

        }
        .header-decision-review .header-heading {
        color: navy;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        }

        .decision-subheading-container {
        margin-top: 1rem;
        font-size: 0.95rem;
        display: flex;
        justify-content: start;

        }

        .instruction-paragraph {
            background-color: skyblue;
            border-radius: 10px;
            padding: 0px 7px;
        }
}



@media screen and (max-width:350px) {
    .instruction-paragraph-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: start;
    font-size: 0.5rem;

    }
    .info-table-header {
    /* margin: 0.5rem 0rem; */
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.7rem 0rem;
    font-size: 0.65rem;
    }

    .just-for-list {
    font-size: 0.7rem;
    }
    .decision-reviewed-table-header {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0rem;
    font-size: 0.7rem;
    }
}