

.header-case-review .header-heading {
    color: navy;
    font-size: 1.5rem;
    text-transform: uppercase;
}


.closing-remark-container{
    /* background-color: red; */
}


.closing-remark-btn-container{
    display: flex;
    margin-top: 1rem;
}

.closing-remark-btn{
    border: 1px solid black;
    border-top-left-radius:7px ;
    border-top-right-radius:7px ;
    padding: 0.5rem 0.7rem;
    border-bottom: 1px solid transparent;
    width: 15%;
}

.line{
   
    width: 85%;
    height: inherit;
    border-bottom: 1px solid black;

}

.closing-remark-paragraphs-and-header{
    margin-top: 1rem;
}



.closing-remark-header{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.closing-remark-paragraphs-and-header p{
    margin-top:1rem ;
}

.additional-resources-link{
    font-size: 0.8rem;
    color: #12adeb;
    font-weight: 500;  
}

.additional-resources-link:hover{
    color: #29bdf8;

}


@media screen and (max-width:480px){
    /* .case-review-margin-bottom{
        margin-bottom: 3rem;
    } */
        .closing-remark-btn {
        border: 1px solid black;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        padding: 0.2rem 0.4rem;
        border-bottom: 1px solid transparent;
        width: 45%;
        }
        .closing-remark-header {
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
        }
    
}
@media screen and (max-width:400px){
    .closing-remark-btn {
            border: 1px solid black;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            padding: 0.2rem 0.4rem;
            border-bottom: 1px solid transparent;
            width: 45%;
        }
    .additional-resources-link {
        font-size: 0.7rem;
        color: #12adeb;
        font-weight: 500;
    }
}

@media screen and (max-width:350px){
    .header-case-review .header-heading {
            color: navy;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    .closing-remark-btn {
            border: 1px solid black;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            padding: 0.2rem 0.4rem;
            border-bottom: 1px solid transparent;
            width: 65%;
        }
}