.each-section-wrapper{
    width: 70%;
    overflow-x: hidden;
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
}

.simulation-main{
    background-color: transparent;
    overflow-x: hidden;
    
}


.simulation-introduction{
    margin-top: 5rem;
    margin-bottom: 10rem;
    display: flex;
    padding-inline: 2.5rem;
    gap: 2rem;
    transition: all 1s linear;
   
   
}

.simulation-interview{
  
}

@media screen and (max-width:1024px) {
        .each-section-wrapper {
        width: 100%;
        overflow-x: hidden;
        display: flex;
        border: 1px solid green;
        border-radius: 10px;
        }

        .simulation-introduction {
            margin-bottom: 5rem;
        margin-top: 5rem;
        display: flex;
        padding-inline: 1rem;
        gap: 2rem;
        transition: all 1s linear;

        }
}


@media screen and (max-width:480px) {
        .each-section-wrapper {
        width: 100%;
        overflow-x: hidden;
        display: flex;
        border: none;
        border-radius: 10px;
        /* margin-bottom: 10rem; */
        }
        .simulation-introduction {
            margin-bottom: 2rem;
        margin-top: 5rem;
        display: flex;
        padding-inline: 0rem;
        gap: 2rem;
        transition: all 1s linear;

        }
}