@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}     

/* body{
    background-color: transparent;
}
#root{
    background-color: transparent;
} */

.hide{
    display: none;
    transform: translateX(-100%);
    transition: all 1s linear;
}

.next-show{
    transform: translateX(100%);
    transition: all 1s linear;
}


.hide-section{
    display: none;
}