

.tests-container{
        height: 68vh;
        overflow-y: scroll;
        /* border: 1px solid gray;
        border-radius: 10px; */
        padding: 2rem 1rem;
        font-size: 0.8rem;
        width: 100%;
        transition: all 1s linear;
        margin: 0px 0.2rem;
        /* background-color: red; */
      
}

.show{
    transform: translateX(50%);
}
.hide{
    transform: translateX(-100%);
   
}


.tests-container::-webkit-scrollbar-track{
    margin: 3px;
}
.tests-container::-webkit-scrollbar{
    background-color: transparent;
    width: 7px;
    border-radius: 50px;
    margin-right: 10px;
    height: 50%;
}
.tests-container::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(182, 179, 179);
    width: 10px;
}

.header-tests{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
}

.header-tests .header-heading{
    color: navy;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.header-tests .header-paragraph{
    background-color: #d7e9f0;
    border-radius: 20px;
    color: #6a6a6a;
    font-size: 0.7rem;
    padding-inline: 15px;
    letter-spacing: 0.05rem;
}

.list-container .list-header-test{
display: flex;
gap: 3rem;
font-weight: 600;
  
    
}
.list-header-test span:first-child{
    width: 70%;
    padding-block: 0.6rem;
    padding-inline:0.2rem;
}
.list-header-test span:nth-child(2){
   
    width: 15%;
    padding-block: 0.6rem ;
}
.list-header-test span:nth-child(3){
    width: 15%;
    padding-block: 0.6rem ;
   
}

.list-data-test{
    display: flex;
    gap: 3rem;
    padding: 0.5rem 0px;
    border-bottom: 1px solid gray;
}


.list-data-test span:first-child {
    width: 70%;
    padding-block: 0.6rem;
    padding-inline: 0rem;
}


.list-data-test span:nth-child(2) {
    width: 15%;
    text-align: center;
    padding-block: 0.6rem;
    background-color: rgb(245, 252, 255);
    color: blue;
    border: 1px solid skyblue;
    font-weight: 600;
    border-radius: 8px;

}

.list-data-test span:nth-child(3) {
    width: 15%;
    text-align: center;
    padding-block: 0.6rem;

}

@media screen and (max-width:650px) {


    .tests-container {
        height: 68vh;


        /* border: 1px solid gray;
        border-radius: 10px; */
        padding: 2rem 0.5rem;
        font-size: 0.8rem;
        width: 100%;
        transition: all 1s linear;
        margin: 0px 0rem;
        /* background-color: red; */
        margin-bottom: 10rem;

    }

    .list-container .list-header-test {
        display: flex;
        gap: 0.5rem;
        font-weight: 600;
        padding: 0rem 0rem;
    }

    .list-header-test span:first-child {
        min-width: 45%;
        padding-block: 0.6rem;
        padding-inline: 0rem;
    }

    .list-header-test span:nth-child(2) {
        min-width: 25%;
        padding: 1rem;
        padding-block: 0.6rem;
    }

    .list-header-test span:nth-child(3) {
        min-width: 25%;
        padding-block: 0.6rem;
        overflow: hidden;

    }


    .list-data-test {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem 0px;
        border-bottom: 1px solid gray;
    }

    .list-data-test span:first-child {
        width: 45%;
        padding-block: 0.2rem;
        padding-inline: 0rem;

    }

    .list-data-test span:nth-child(2) {
        width: 25%;
        text-align: center;
        padding-block: 0.6rem;
        background-color: rgb(245, 252, 255);
        color: blue;
        border: 1px solid skyblue;
        font-weight: 600;
        border-radius: 8px;

    }

    .list-data-test span:nth-child(3) {
        width: 25%;
        text-align: center;
        padding-block: 0.6rem;

    }
}


@media screen and (max-width:480px){
    .tests-container {
            min-height: 100vh;
            overflow-y: hidden;
            /* border: 1px solid gray;
            border-radius: 10px; */
            padding: 2rem 1rem;
            font-size: 0.8rem;
            width: 100%;
            transition: all 1s linear;
            margin: 0px 0.2rem;
    
        }

        .tests-container {
        height: 68vh;
       
    
        /* border: 1px solid gray;
        border-radius: 10px; */
        padding: 2rem 0.5rem;
        font-size: 0.8rem;
        width: 100%;
        transition: all 1s linear;
        margin: 0px 0rem;

        }
        
        .list-container .list-header-test {
        display: flex;
        gap: 0.5rem;
        font-weight: 600;
        padding: 0rem 0rem;
        }
        .list-header-test span:first-child {
        min-width:45%;
        padding-block: 0.6rem;
        padding-inline: 0rem;
        }

        .list-header-test span:nth-child(2) {
        min-width: 25%;
        padding: 1rem;
        padding-block: 0.6rem;
        }

        .list-header-test span:nth-child(3) {
        min-width: 25%;
        padding-block: 0.6rem;
        overflow: hidden;

        }


        .list-data-test {
            display: flex;
            gap: 0.5rem;
            padding: 0.5rem 0px;
            border-bottom: 1px solid gray;
        }
        .list-data-test span:first-child {
            width: 45%;
            padding-block: 0.2rem;
            padding-inline: 0rem;

        }

        .list-data-test span:nth-child(2) {
            width: 25%;
            text-align: center;
            padding-block: 0.6rem;
            background-color: rgb(245, 252, 255);
            color: blue;
            border: 1px solid skyblue;
            font-weight: 600;
            border-radius: 8px;

        }

        .list-data-test span:nth-child(3) {
            width: 25%;
            text-align: center;
            padding-block: 0.6rem;

        }
}


@media screen and (max-width:400px) {
.header-tests .header-heading {
        color: navy;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
    }

        .list-container .list-header-test {
        display: flex;
        gap: 0.5rem;
        font-weight: 600;
        font-size: 0.8rem;
        padding: 0rem 0rem;
        }
        .list-data-test {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem 0px;
        border-bottom: 1px solid gray;
        font-size: 0.75rem;
        }

        .list-data-test span:nth-child(2) {
        width: 25%;
        text-align: center;
        padding-block: 0.6rem;
        background-color: rgb(245, 252, 255);
        color: blue;
        border: 1px solid skyblue;
        font-weight: 600;
        border-radius: 8px;
        }


        .header-tests .header-paragraph {
        background-color: #d7e9f0;
        border-radius: 20px;
        color: #6a6a6a;
        font-size: 0.5rem;
        padding-inline: 15px;
        letter-spacing: 0.02rem;
        }
}

@media screen and (max-width:350px) {
.list-container .list-header-test {
        display: flex;
        gap: 0.5rem;
        font-weight: 600;
        font-size: 0.6rem;
        padding: 0rem 0rem;
    }

.list-data-test {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem 0px;
        border-bottom: 1px solid gray;
        font-size: 0.6rem;
    }

}